@font-face {
  font-family: "Funnel Display";
  src: url("./fonts/FunnelDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
}

body {
  background-color: #ebebeb;
  font-family: "Funnel Display", fantasy;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #f5f6f8;
  width: 80%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main > section {
  width: 50%;
}

.label {
  text-transform: uppercase;
  font-size: 11px;
  padding: 7px 20px;
  border: 1px solid #808080;
  width: fit-content;
  border-radius: 30px;
}

h1 {
  font-family: "Montserrat", fantasy;
  font-weight: normal;
  text-transform: capitalize;
  width: 80%;
}

.description {
  color: #808080;
  width: 80%;
}

.other_contacts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.other_contacts > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #333;
}

.other_contacts > a > img {
  width: 20px;
}

.contact_form {
  width: 90%;
  align-self: flex-end;
  background-color: #fff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  border-radius: 30px;
}

.name,
.email {
  display: flex;
  flex-direction: row;
  border: 1.5px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  gap: 10px;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

textarea {
  outline: none;
  font-size: 15px;
  font-family: inherit;
  border: 1px solid #333;
  padding: 20px;
  height: 150px;
  border-radius: 5px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: #0270e0;
  color: #fff;
  font-family: inherit;
  border: none;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #0271e0a8;
}

button > span:first-child {
  background: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

button > span:nth-child(2) {
  margin: 0 10px;
}
